.main {
  display: flex;
  justify-content: center;
}

.box {
  border: 10px solid yellow;
  border-radius: 40px;
  width: 400px;
  height: 400px;
  margin: 1em;
  text-align: center;
}

.item-img {
  width: 60%;
}
