body {
  background-color: #f7f0c7;
}

.game-board {
  margin: 6em;
}

.main {
  display: flex;
  justify-content: center;
}

.box {
  border: 10px solid #fecb7f;
  border-radius: 30px;
  width: 400px;
  height: 400px;
  margin: 1em;
  text-align: center;
  transition: all 0.6s;
}

.img-area {
  width: 50%;
  height: 230px;
  margin: 0 auto;
}

.item-img {
  width: 100%;
}

.main button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  margin: 3em 0.6em;
  cursor: pointer;
  background-color: #fecb7f;
  transition: all 0.3s;
}

.main button:hover {
  background-color: #ebbc70;
}

.main button img {
  width: 70%;
}

/* 결과에 따라 스타일 추가 */
.box.win {
  border: 10px solid #ff3f35;
}

.box.lose {
  border: 10px solid #74737a;
}

.box.tie {
  border: 10px solid #ffec59;
}

.box.result-area {
  border: 10px solid #fecb7f;
}

.result-area .img-area {
  width: 70%;
  background-position: center;
  background-size: cover;
}

.result-area .img-area.win {
  background-image: url(/public/images/win.jpg);
}

.result-area .img-area.lose {
  background-image: url(/public/images/lose.jpg);
}

.result-area .img-area.tie {
  background-image: url(/public/images/tie.jpg);
}
